<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Public contests</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a [routerLink]="['/home']">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a [routerLink]="['/trainings']">Trainings</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                          <div class="col-12">
                            <div class="alert alert-info" role="alert"
                                 id="wokApp.course.publicContent" *ngIf="!accountService.isAuthenticated()">
                              <strong>Estes são nossos cursos públicos. </strong> Para ter acesso você so precisa ter uma conta!
                            </div>
                          </div>
                            <div class="col-md-6 col-lg-4" *ngFor="let contest of contests">
                                <div class="course-card" style="max-height: 15rem;overflow: auto;">
                                    <div class="course-card-body">
                                        <div class="mt-3">
                                            <span class="pull-left mr-3">
                                                <img class="img-circle" [src]="sharedFunctions.imageDir+contest?.teacher?.imageUrl" alt="..." width="40px">
                                            </span>
                                            <h6 class="mb-xs mt-xs"> {{contest.name}}</h6>
                                        </div>
                                       <p>Teacher {{ contest?.teacher?.login }}</p>
                                        <p>{{ contest.description }}</p>
                                        <div class="text-center mb-3">
                                           <button mat-stroked-button color="primary"
                                                   [routerLink]="['/trainings', contest.slug]">See details
                                              <mat-icon>wysiwyg</mat-icon>
                                           </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
