.social-item {
  width: 36px;
  height: 36px;
  font-size: 18px;
  color: #fff;
  border-radius: 50%;
}

.button-settings a.active {
  background-color: #2196f3 !important;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(233, 30, 99, 0.6);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 13px 24px -11px #66c4e2;
  color: #fff !important;
  border-radius: 30px;
}

.bg4 {
  background-color: #006097;
}

.bg5 {
  background-color: #2e59dc;
}

.bg6 {
  background-color: #39424e;
}

.bg7 {
  background-color: #040404;
}
