<section class="content">
   <div class="container-fluid">
      <div class="block-header">
         <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
               <ul class="breadcrumb breadcrumb-style ">
                  <li class="breadcrumb-item">
                     <h4 class="page-title">Classroom</h4>
                  </li>
                  <li class="breadcrumb-item bcrumb-1">
                     <a [routerLink]="['/home']">
                        <i class="fas fa-home"></i> Home</a>
                  </li>
                  <li class="breadcrumb-item active">Student Classroom Dashboard</li>
               </ul>
            </div>
         </div>
      </div>
      <section>
         <wok-user-teacher-dash-board></wok-user-teacher-dash-board>
      </section>
   </div>
</section>
