<section class="content">
   <div class="container-fluid">
      <div class="block-header">
         <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
               <ul class="breadcrumb breadcrumb-style ">
                  <li class="breadcrumb-item">
                     <h4 class="page-title">Private courses</h4>
                  </li>
                  <li class="breadcrumb-item bcrumb-1">
                     <a [routerLink]="['/home']">
                        <i class="fas fa-home"></i> Home</a>
                  </li>
                  <li class="breadcrumb-item bcrumb-2">
                     <a [routerLink]="['/disciplines']">Courses</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div class="card">
               <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                      <div class="alert alert-warning" role="alert">
                        <strong>Estes são nossos cursos privados. </strong> Para ter acesso você deve estar matriculado em uma
                        universidade vinculada a plataforma
                      </div>
                    </div>
                     <div class="col-md-6 col-lg-4" *ngFor="let discipline of disciplines">
                        <div class="course-card" style="max-height: 15rem;overflow: auto;">
                           <div class="course-card-body">
                              <div class="mt-3">
                                            <span class="pull-left mr-3">
                                                <img class="img-circle"
                                                     src="{{ sharedFunctions.imageDir + discipline.imageUrl }}"
                                                     alt="..." width="40px">
                                            </span>
                                 <h6 class="mb-xs mt-xs" style="padding-top:10px"> {{discipline.name}}</h6>
                              </div>
                              <br>
                              <p>{{discipline.shortDescription}}</p>
                              <div class="text-center mb-3">
                                 <button mat-stroked-button color="primary"
                                         [routerLink]="['/disciplines', discipline.slug]">See details
                                    <mat-icon>wysiwyg</mat-icon>
                                 </button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
