<section class="content">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 *ngIf="account">User settings for [<b>{{ account.login }}</b>]</h2>

            <div class="card">
                <div class="header">
                    <h2>
                        <strong>Account</strong> Settings</h2>
                </div>
                <div class="body">
                    <form name="settingsForm" role="form" (ngSubmit)="save()" [formGroup]="settingsForm">
                        <div class="form-group">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>First name</mat-label>
                                <input matInput type="text" id="firstName" name="firstName"
                                    placeholder="{{ 'settings.form.firstname.placeholder' | translate }}"
                                    formControlName="firstName">
                                <div *ngIf="settingsForm.get('firstName')!.invalid && (settingsForm.get('firstName')!.dirty || settingsForm.get('firstName')!.touched)">
                                    <small class="form-text text-danger"
                                            *ngIf="settingsForm.get('firstName')?.errors?.required">
                                        Your first name is required.
                                    </small>

                                    <small class="form-text text-danger"
                                            *ngIf="settingsForm.get('firstName')?.errors?.minlength">
                                        Your first name is required to be at least 1 character.
                                    </small>

                                    <small class="form-text text-danger"
                                            *ngIf="settingsForm.get('firstName')?.errors?.maxlength">
                                        Your first name cannot be longer than 50 characters.
                                    </small>
                                </div>
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Last Name</mat-label>
                                <input matInput type="text" id="lastName" name="lastName"
                                    placeholder="{{ 'settings.form.lastname.placeholder' | translate }}"
                                    formControlName="lastName">
                                <div *ngIf="settingsForm.get('lastName')!.invalid && (settingsForm.get('lastName')!.dirty || settingsForm.get('lastName')!.touched)">
                                    <small class="form-text text-danger"
                                            *ngIf="settingsForm.get('lastName')?.errors?.required">
                                        Your last name is required.
                                    </small>

                                    <small class="form-text text-danger"
                                            *ngIf="settingsForm.get('lastName')?.errors?.minlength">
                                        Your last name is required to be at least 1 character.
                                    </small>

                                    <small class="form-text text-danger"
                                            *ngIf="settingsForm.get('lastName')?.errors?.maxlength">
                                        Your last name cannot be longer than 50 characters.
                                    </small>
                                </div>
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Email</mat-label>
                                <input matInput type="text" id="email" name="email"
                                    placeholder="{{ 'global.form.email.placeholder' | translate }}"
                                    formControlName="email">
                                <div *ngIf="settingsForm.get('email')!.invalid && (settingsForm.get('email')!.dirty || settingsForm.get('email')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="settingsForm.get('email')?.errors?.required">
                                        Your email is required.
                                    </small>

                                    <small class="form-text text-danger"
                                           *ngIf="settingsForm.get('email')?.errors?.email">
                                        Your email is invalid.
                                    </small>

                                    <small class="form-text text-danger"
                                           *ngIf="settingsForm.get('email')?.errors?.minlength">
                                        Your email is required to be at least 5 characters.
                                    </small>

                                    <small class="form-text text-danger"
                                           *ngIf="settingsForm.get('email')?.errors?.maxlength">
                                        Your email cannot be longer than 100 characters.
                                    </small>
                                </div>
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Language</mat-label>
                                <mat-select id="langKey" formControlName="langKey">
                                    <mat-option *ngFor="let language of languages" [value]="language">{{ language | findLanguageFromKey }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="alert alert-success" *ngIf="success">
                            <strong>Settings saved!</strong>
                        </div>
                        <button mat-raised-button color="primary" type="submit" [disabled]="settingsForm.invalid">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
