<section class="content">
   <div class="container-fluid">
      <div class="block-header">
         <div class="row">
            <div class="col-12">
               <ul class="breadcrumb breadcrumb-style ">
                  <li class="breadcrumb-item">
                     <h4 class="page-title">Reset password</h4>
                  </li>
                  <li class="breadcrumb-item bcrumb-1">
                     <a [routerLink]="['/home']">
                        <i class="fas fa-home"></i> Home</a>
                  </li>
                  <li class="breadcrumb-item active"><a [routerLink]="['/account/login']">Login</a></li>
                  <li class="breadcrumb-item active">Reset password</li>
               </ul>
            </div>
         </div>
      </div>
      <wok-snack-bar></wok-snack-bar>
      <div class="limiter">
         <div class="container-fluid">
            <div class="row justify-content-center my-4">
               <div class="col-md-8 m-auto">
                  <h1 id="reset.request.title">Reset your password</h1>

                  <div class="alert alert-warning" *ngIf="!success">
                        <span
                           id="reset.request.messages.info">Enter the email address you used to register.</span>
                  </div>

                  <div class="alert alert-success" *ngIf="success">
                     <span id="reset.request.messages.success">Check your emails for details on how to reset your password.</span>
                  </div>

                  <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()"
                        [formGroup]="resetRequestForm">
                     <div class="form-group">
                        <mat-form-field class="example-full-width" appearance="outline">
                           <mat-label for="email"
                                      id="global.form.email.label">Email</mat-label>
                           <input matInput type="email" id="email" name="email"
                                  placeholder="{{ 'global.form.email.placeholder' | translate }}"
                                  formControlName="email" #email>
                           <mat-error *ngIf="resetRequestForm.get('email')?.errors?.required" id="global.messages.validate.email.required">Your email is required.</mat-error>
                           <mat-error *ngIf="resetRequestForm.get('email')?.errors?.email" id="global.messages.validate.email.invalid">Your email is invalid.</mat-error>
                           <mat-error *ngIf="resetRequestForm.get('email')?.errors?.maxlength" id="global.messages.validate.email.maxlength">Your email cannot be longer than 100 characters.</mat-error>
                           <mat-error *ngIf="resetRequestForm.get('email')?.errors?.minlength" id="global.messages.validate.email.minlength">Your email is required to be at least 5 characters.</mat-error>
                        </mat-form-field>
                     </div>
                     <button class="float-right" mat-raised-button type="submit" color="primary" id="reset.request.form.button">Reset</button>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
