<section class="content">
    <div class="row justify-content-center">
        <div class="col-md-8" *ngIf="account$ | async as account">
            <h2 id="password.title" [translateValues]="{ username: account.login }">Password for <strong>{{ account.login }}</strong></h2>

            <div class="card">
                <div class="header">
                    <h2>
                        <strong>Password</strong> Settings</h2>
                </div>
                <div class="body">
                    <form name="passwordForm" role="form" novalidade (ngSubmit)="changePassword()" [formGroup]="passwordForm">
                        <div class="form-group">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label for="currentPassword" id="global.form.currentpassword.label">Current Password</mat-label>
                                <input matInput type="password" id="currentPassword" name="currentPassword"
                                    placeholder="{{ 'global.form.currentpassword.placeholder' | translate }}"
                                    formControlName="currentPassword">
                                <div *ngIf="passwordForm.get('currentPassword')!.invalid && (passwordForm.get('currentPassword')!.dirty || passwordForm.get('currentPassword')!.touched)" >
                                    <small class="form-text text-danger"
                                            *ngIf="passwordForm.get('currentPassword')?.errors?.required"
                                            id="global.messages.validate.newpassword.required">
                                        Your password is required.
                                    </small>
                                </div>
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label for="newPassword" id="global.form.newpassword.label">New Password</mat-label>
                                <input matInput type="password" id="newPassword" name="newPassword"
                                    placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
                                    formControlName="newPassword">
                                <div *ngIf="passwordForm.get('newPassword')!.invalid && (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)">
                                    <small class="form-text text-danger"
                                            *ngIf="passwordForm.get('newPassword')?.errors?.required"
                                            id="global.messages.validate.newpassword.required">
                                        Your password is required.
                                    </small>

                                    <small class="form-text text-danger"
                                            *ngIf="passwordForm.get('newPassword')?.errors?.minlength"
                                            id="global.messages.validate.newpassword.minlength">
                                        Your password is required to be at least 4 characters.
                                    </small>

                                    <small class="form-text text-danger"
                                            *ngIf="passwordForm.get('newPassword')?.errors?.maxlength"
                                            id="global.messages.validate.newpassword.maxlength">
                                        Your password cannot be longer than 50 characters.
                                    </small>
                                </div>
                            </mat-form-field>
                            <wok-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></wok-password-strength-bar>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label for="confirmPassword" id="global.form.confirmpassword.label">New password confirmation</mat-label>
                                <input matInput type="password" id="confirmPassword" name="confirmPassword"
                                    placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
                                    formControlName="confirmPassword">
                                <div *ngIf="passwordForm.get('confirmPassword')!.invalid && (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)">
                                    <small class="form-text text-danger"
                                            *ngIf="passwordForm.get('confirmPassword')?.errors?.required"
                                            id="global.messages.validate.confirmpassword.required">
                                        Your confirmation password is required.
                                    </small>

                                    <small class="form-text text-danger"
                                            *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength"
                                            id="global.messages.validate.confirmpassword.minlength">
                                        Your confirmation password is required to be at least 4 characters.
                                    </small>

                                    <small class="form-text text-danger"
                                            *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength"
                                            id="global.messages.validate.confirmpassword.maxlength">
                                        Your confirmation password cannot be longer than 50 characters.
                                    </small>
                                </div>
                            </mat-form-field>
                        </div>
                        <div class="alert alert-danger" *ngIf="doNotMatch" id="global.messages.error.dontmatch">
                            The password and its confirmation do not match!
                        </div>
                        <div class="alert alert-danger" *ngIf="error" id="password.messages.error">
                            <strong>An error has occurred!</strong> The password could not be changed.
                        </div>
                        <div class="alert alert-success" *ngIf="success" id="password.messages.success">
                            <strong>Password changed!</strong>
                        </div>
                        <button mat-raised-button color="primary" type="submit" [disabled]="passwordForm.invalid" id="password.form.button"> Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
