<section class="content">
   <div class="container-fluid">
      <div class="block-header">
         <div class="row">
            <div class="col-12">
               <ul class="breadcrumb breadcrumb-style ">
                  <li class="breadcrumb-item">
                     <h4 class="page-title">New password</h4>
                  </li>
                  <li class="breadcrumb-item bcrumb-1">
                     <a [routerLink]="['/home']">
                        <i class="fas fa-home"></i> Home</a>
                  </li>
                  <li class="breadcrumb-item active"><a [routerLink]="['/account/login']">Login</a></li>
                  <li class="breadcrumb-item active">New password</li>
               </ul>
            </div>
         </div>
      </div>
      <wok-snack-bar></wok-snack-bar>
      <div class="limiter">
         <div class="container-fluid">
            <div class="row justify-content-center">
               <div class="col-md-8">
                  <h1 id="reset.finish.title">Reset password</h1>

                  <div class="alert alert-danger" id="reset.finish.messages.keymissing"
                       *ngIf="initialized && !key">
                     <strong>The password reset key is missing.</strong>
                  </div>

                  <div class="alert alert-warning" *ngIf="key && !success">
                     <span id="reset.finish.messages.info">Choose a new password</span>
                  </div>

                  <div class="alert alert-danger" *ngIf="error">
                     <span id="reset.finish.messages.error">Your password couldn't be reset. Remember a password request is only valid for 24 hours.</span>
                  </div>

                  <div class="alert alert-success" *ngIf="success">
                     <span id="reset.finish.messages.success"><strong>Your password has been reset.</strong> Please </span>
                     <a class="alert-link" (click)="login()" id="global.messages.info.authenticated.link">sign
                        in</a>.
                  </div>

                  <div class="alert alert-danger" *ngIf="doNotMatch" id="global.messages.error.dontmatch">
                     The password and its confirmation do not match!
                  </div>
                  <div class="alert alert-danger" *ngIf="weakPassword" id="global.messages.error.strengthPassword">
                     The password is so weak
                  </div>

                  <div *ngIf="key && !success">
                     <form name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
                        <div class="form-group">
                           <mat-form-field appearance="outline" class="example-full-width">
                              <mat-label for="newPassword"
                                         id="global.form.newpassword.label">New password
                              </mat-label>
                              <input matInput type="password" id="newPassword" name="newPassword"
                                     placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
                                     formControlName="newPassword" #newPassword [type]="hidePassword ? 'password' : 'text'">
                              <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                                 <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                              <mat-error *ngIf="passwordForm.get('newPassword')?.errors?.required"
                                         id="global.messages.validate.newpassword.required">Your password is
                                 required.
                              </mat-error>
                              <mat-error *ngIf="passwordForm.get('newPassword')?.errors?.minlength"
                                         id="global.messages.validate.newpassword.minlength">Your password is
                                 required to be at least 4 characters.
                              </mat-error>
                              <mat-error *ngIf="passwordForm.get('newPassword')?.errors?.maxlength"
                                         id="global.messages.validate.newpassword.maxlength">Your password
                                 cannot be longer than 50 characters.
                              </mat-error>
                           </mat-form-field>
                           <wok-password-strength-bar
                              [passwordToCheck]="passwordForm.get('newPassword')!.value"
                              (strengthPassword)="weakPassword = !($event >= 2)"></wok-password-strength-bar>
                        </div>

                        <div class="form-group">
                           <mat-form-field appearance="outline" class="example-full-width">
                              <mat-label for="confirmPassword"
                                         id="global.form.confirmpassword.label">New password confirmation
                              </mat-label>
                              <input matInput type="password" id="confirmPassword" name="confirmPassword"
                                     placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
                                     formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'">
                              <button type="button" mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
                                 <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                              <mat-error *ngIf="passwordForm.get('newPassword')?.errors?.required"
                                         id="global.messages.validate.confirmpassword.required">Your password
                                 confirmation is required.
                              </mat-error>
                              <mat-error *ngIf="passwordForm.get('newPassword')?.errors?.minlength"
                                         id="global.messages.validate.confirmpassword.minlength">Your password
                                 confirmation is required to be at least 4 characters.
                              </mat-error>
                              <mat-error *ngIf="passwordForm.get('newPassword')?.errors?.maxlength"
                                         id="global.messages.validate.confirmpassword.maxlength">Your password
                                 confirmation cannot be longer than 50 characters.
                              </mat-error>
                           </mat-form-field>
                        </div>
                        <button class="float-right" mat-raised-button color="primary" type="submit"
                                id="reset.finish.form.button">Reset Password
                        </button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
